* {
  font-family:Calibri;
}


body,div,td {
  
    font-size: 12px;
    word-wrap: break-word;
}

a, img {
    border:none;
    outline:none
}



.button{
	/* Overwrite this behavior: http://forum.primefaces.org/viewtopic.php?t=43754 */
	width: auto !important;
	background:#9C1E02;
	color:#FBA82E;
	min-width: 25px;
	font-family: Calibri;
}

.action-column {
    text-align: center;
}

.column-header {
    white-space:pre-line;
    font-family: Calibri;
}

.dialog {
    width: auto;
    font-family: Calibri;
}

.col1 {
    font-weight: bold;
    font-family: Calibri;
    font-size:12px;
}

.col2 {
    vertical-align: top;
    font-family: Calibri;
}

.col3 {
    margin:auto !important;
}

.ellipsis {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50px;
    vertical-align: bottom;
}

.ui-grid-content, .ui-grid {
    border: none;
}

.ui-fluid .ui-selectonemenu .ui-selectonemenu-trigger {
	/* Overwrite scary ui-fluid selectmenu style of PrimeFaces 5.2 */
    box-sizing: border-box;
    padding: 0 3px;
    width: 24px;
    background-color: green;
}

.MenuLinguagem.ui-selectonemenu .ui-selectonemenu-label   {
	background: white !important;
	font-weight:bold;
	color:black;
}

.ui-selectonemenu-trigger{
	background: #ED6707 !important;
}

/* Colunas das data tables */
td {
  color: black !important;
  background: #f2f2f2;
  color:black !important;
  border:none !important;
}

th {
  color:#f2f2f2 !importnt;
  background: #5C2C5E !important;
   border:none !important;
}


.ui-dialog {
    width: auto !important;
    background:#f2f2f2 !important;

}


.ui-confirm-dialog-message {
    display: inline-block;
    margin-top: 1px;
    color: black !important;
}

/*Barra de título do dialog primefaces*/
.ui-draggable .ui-dialog-titlebar  {
    cursor: move;
	background:#5C2C5E;
    text-align:left !important;
}

/*Footer da datatable*/
.ui-datatable .ui-datatable-footer {
    border-top: 0 none;
    text-align:left !important;
    background: #5C2C5E !important;
}

.ui-datatable .ui-datatable-header {
    background: #5C2C5E !important;
}

.ui-button .ui-button-text {
    display: block;
    line-height: normal;
    background:#ED6707;
}



.ui-fluid .ui-menu {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #9d4110;
    -moz-box-sizing: border-box;
    text-align: center;
}
.ui-carousel .ui-carousel-viewport .ui-carousel-items .ui-carousel-item {
    border: none;
}

.ui-panelgrid .ui-grid-responsive  {
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    padding: 1px 1px;
    background: #9d4110;
}

.ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell {
    border: 0 none;
    padding: 0px;
}

.ui-panel .ui-panel-titlebar {
    padding: .5em 1em .3em;
    background: #5C2C5E;
}

.ui-fluid .ui-menu {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-style: none;
    -moz-box-sizing: border-box;
}


.ui-widget-content {
    border: none;
    color:black !important
}

.ui-menu .ui-menuitem-text {
    float: left;
    color:black;
    font-weight: bold;
    font-family: Calibri;
}


.ui-selectonemenu-panel .ui-selectonemenu-list-item {
    border: 0 none;
    margin: 1px 0;
    padding: 3px 5px;
    text-align: left;
    color: white !important;
    white-space: nowrap;
}


.ui-carousel .ui-carousel-header {
    margin: 0 1px;
    overflow: hidden;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-right: 10px;
    padding-left: 10px;
    background:white;
    border-style:none;
}


.ui-menu .ui-menu-list .ui-widget-header {
    clear: both;
    float: left;
    width: 100%;
    margin: 1px 0;
    background: #410D34;
    border: none;
    text-align: center;
}


.ui-fluid .ui-menu {
    background: white;

}

.ui-panel .ui-panel-content {
    border: 0;
    background: white !important;
    padding: .5em 1em;
}

.panel.ui-selectonemenu-list .ui-selectonemenu-trigger
 .ui-state-default{ 
    background:white !important;
}




.DataTableFormacao.ui-datatable .ui-datatable-header .ui-datatable .ui-datatable-footer {
    text-align: center;
    padding: 0px 0px !important;
    
}



.ui-dialog .ui-dialog-buttonpane {
    text-align: left;
    background-image: none;
    background:no-repeat;
    margin: .5em 0 0 0;
    padding: .3em 1em .5em .4em;
}


.ui-confirm-dialog-message {
 	font-weight:bold;
    font-size:14px;
}

.ui-dialog .ui-dialog-titlebar {
    padding: .4em .4em .4em 1em;
    position: relative;
    border: 0;
    background:#5C2C5E;
}